{% extends 'main.html' %} {% load static %}
<!--  -->
{% block content %}
<div class="flex flex-col gap-4">
  <div class="h-full w-full mx-auto flex flex-col justify-between gap-4">
    <div class="flex justify-between">
      <button
        onclick="goBack()"
        class="w-fit px-3 py-2 text-white bg-green-700 hover:bg-green-900 rounded transition-all duration-300"
      >
        &larr;
      </button>

      <div class="flex gap-2 text-black">
        <button
          onclick="exportXLSX('closing_table','arrete_de_caisse')"
          class="w-fit px-3 py-2 bg-lime-200 hover:bg-lime-300 rounded transition duration-200 ease-in"
        >
          <i class="inline fa-solid fa-file-excel lg:mr-2"></i>
          <span class="hidden md:inline text-sm"> Extraire format XLSX </span>
        </button>
        <button
          onclick="exportPDF('closing_details')"
          class="w-fit px-3 py-2 bg-orange-200 hover:bg-orange-300 rounded transition duration-200 ease-in"
        >
          <i class="inline fa-solid fa-file-pdf lg:mr-2"></i>
          <span class="hidden md:inline text-sm"> Extraire format PDF </span>
        </button>
      </div>
    </div>

    <section
      id="closing_details"
      class="w-full flex flex-col lg:flex-row justify-between gap-4"
    >
      <div class="w-full">
        {% include 'base/closings/desk_closing_table.html' %}
      </div>

      <div
        class="p-3 h-100 bg-lime-200 rounded text-sm w-full max-w-[300px] flex flex-col gap-2"
      >
        <div
          class="flex items-center justify-center gap-4 px-3 py-2 rounded bg-lime-400 text-black"
        >
          <i class="fa-solid fa-shop-closed"></i>Arrêté de caisse N°-<b
            >0-{{ curr_obj.id}}</b
          >
          <button
            hx-target="#basic_dialog"
            hx-get="{% url 'edit_desk_closing' curr_obj.id %}"
            class="w-fit bg-lime-200 hover:bg-lime-500 text-xs px-3 py-2 rounded transition duration-200 ease-in"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </div>
        <p>Boutique : <b>{{ curr_obj.cashdesk.store.name }}</b></p>
        <p>Initiateur : <b>{{ curr_obj.initiator.get_full_name }}</b></p>
        <p>Date : <b>{{ curr_obj.timestamp.date }}</b></p>
        <p>Heure : <b>{{ curr_obj.timestamp.time }}</b></p>
        <p>Caisse : <b>{{ curr_obj.cashdesk.name }}</b></p>
        <p>Type de caisse : <b>{{ curr_obj.cashdesk.get_type_display }}</b></p>
        <p>Solde Physique : <b>{{ curr_obj.balance_found }} CFA</b></p>
        <p>Solde Theorique : <b>{{ curr_obj.balance_expected }} CFA</b></p>
        <p>Ecart : <b>{{ curr_obj.difference }}</b></p>
        <p><b>Commentaire :</b> {{ curr_obj.comment }}</p>
        {% if curr_obj.balance_found != curr_obj.balance_expected %}
        <a
          href="{% url 'correct_desk_closing' curr_obj.id %}"
          class="w-full px-6 py-2 text-white text-center bg-green-700 hover:bg-green-900 rounded transition-all duration-300"
        >
          Corriger
        </a>
        {% endif %}
      </div>
    </section>
  </div>
</div>

{% endblock %}
