{% load static %}

<div class="w-full flex flex-col gap-2">
  <div class="flex items-center gap-2">
    <h2 class="text-4xl font-bold text-black">{{curr_obj.label}}</h2>
    <a
      href="{% url 'edit_service_purchase' curr_obj.id %}"
      class="w-fit hover:bg-green-700 hover:text-white py-2 px-3 rounded-full transition duration-200 ease-in"
    >
      <i class="fa-solid fa-pen-to-square"></i
    ></a>
  </div>

  <p><b>Fournisseur : </b> {{curr_obj.supplier.name }}</p>
  <p><b>Caisse : </b> {{curr_obj.cashdesk.name }}</p>
  <p><b>Moyen de paiement : </b> {{curr_obj.get_payment_option_display }}</p>
  <p><b>Status du paiement : </b> {{curr_obj.get_payment_status_display }}</p>
  <p><b>Montant : </b> {{curr_obj.total }} CFA</p>
  <!-- <p><b>Description : </b> {{curr_obj.description }}</p> -->
</div>
