{% if not purchases %}
<div class="flex flex-col items-center gap-2 my-20 mx-auto">
  <i class="fa-solid fa-box-open text-green-900 text-9xl"></i>
  <span>Aucun achat trouvé</span>
</div>
{% else %}

<table class="w-full text-left db-table rounded-xl">
  <thead class="bg-green-700 border border-green-900 text-white">
    <tr>
      <th class="px-3 py-4 text-sm">Réf.</th>
      <th class="px-3 py-4 text-sm">Date</th>
      <th class="px-3 py-4 text-sm">Heure</th>
      <th class="px-3 py-4 text-sm">Initiateurs</th>
      <th class="px-3 py-4 text-sm text-center">Total</th>
      <th class="px-3 py-4 text-sm text-center">Remise</th>
      <th class="px-3 py-4 text-sm text-center">Actions</th>
    </tr>
  </thead>

  <tbody class="border">
    {% for obj in purchases %}
    <tr
      class="text-gray-600 border text-sm hover:bg-white hover:text-black transition-all duration-50"
    >
      <td class="px-3 py-1">Acht-000-{{obj.id}}</td>
      <td class="px-3 py-1">{{obj.timestamp.date}}</td>
      <td class="px-3 py-1">{{obj.timestamp.time}}</td>
      <td class="px-3 py-1">{{obj.seller.get_full_name}}</td>
      <td class="px-3 py-1 text-center bg-green-100">{{obj.total}} Cfa</td>
      <td class="px-3 py-1 text-center bg-orange-100">{{obj.discount}} Cfa</td>
      <td class="px-3 py-1 text-center relative">
        <div
          class="w-fit flex gap-3 justify-end items-end text-end text-gray-700 mx-auto"
        >
          <button
            type="button"
            class="hover:bg-white hover:text-green-500 px-3 py-1 rounded-full"
            name="sentry"
            onclick="toggleMenu(this,'menu_{{obj.id}}')"
          >
            <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
          </button>

          <div
            class="hidden z-30 bg-gray-50 w-40 shadow-md lg:w-[180px] p-2 absolute right-0 top-12 origin-top-left bg-white z-10 rounded-xl flex flex-col items-center gap-2 text-xs lg:text-sm overflow-hidden"
            id="menu_{{obj.id}}"
          >
            <!--  -->
            <a
              href="{% url 'sale_details' obj.id %}"
              class="px-3 py-1 flex items-center hover:text-black hover:bg-green-200 rounded-lg w-full text-center cursor-pointer"
            >
              <i class="text-sm fa-solid fa-expand mr-2"></i>
              Détails
            </a>

            <button
              onclick="hide_dialogs()"
              hx-target="#basic_dialog"
              hx-delete="{% url 'delete_base_object' obj.id 'Sale' %}"
              hx-confirm="Voulez vous vraiment suprimmer ceci?"
              class="px-3 py-1 flex items-center hover:text-black hover:bg-red-200 rounded-lg w-full text-center cursor-pointer"
            >
              <i class="text-sm fa-solid fa-trash mr-2"></i>
              Supprimer
            </button>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
