{% if not products %}
<div class="flex flex-col items-center gap-2 my-20 mx-auto">
  <i class="fa-solid fa-boxes-packing text-green-700 text-9xl"></i>
  <span class="bg-lime-200 px-4 py-2 rounded-lg">Aucun produit trouvé dans le stock</span>
</div>
{% else %}
<div class="flex flex-col gap-1">
  <div
    class="w-full rounded-lg bg-green-700 p-2 grid grid-cols-8 items-center gap-4 text-sm text-white"
  >
    <!-- <span>Image</span> -->
    <span>Article</span>
    <span>Marque</span>
    <span>Prix</span>
    <span>Quantité</span>
    <span>Unité de mesure</span>
    <span>Categorie</span>
    <span>Famille</span>
    <span class="mx-auto">Actions</span>
  </div>
  {% for obj in products %}
  <!--  -->
  {% include 'base/components/product_stock_card.html' %}
  <!--  -->
  {% endfor %}
</div>
{% endif %}
