{% load static %}

<div
  class="p-8 bg-teal-100 rounded-3xl h-full w-full max-w-7xl mx-auto flex flex-col justify-between gap-6"
>
  <div class="flex justify-between">
    <div
      class="bg-teal-900 py-2 px-4 rounded-full flex items-center text-white gap-4"
    >
      <a
        class="inline-block px-2 py-1 font-bold hover:bg-yellow-300 hover:text-black rounded-full transition-all duration-300"
        href="{% url 'dash_products' %}"
        >&larr;</a
      >
      Retourner
    </div>
    <span
      class="flex items-center gap-4 py-2 px-4 rounded-full bg-teal-300 text-black"
      ><i class="fa-solid fa-copyright"></i>Marque : {{ curr_obj.brand }}</span
    >
  </div>

  <div class="mt-6 grid grid-cols-1 gap-10 sm:grid-cols-2">
    <div class="flex flex-col gap-4">
      <div class="bg-white w-full h-full rounded-3xl overflow-hidden">
        {% if not curr_obj.image %}
        <img
          src="{% static 'imgs/logo-g.png' %}"
          alt="image"
          class="w-full h-full object-contain"
        />
        {% else %}
        <img
          src="{{curr_obj.image.url}}"
          alt="{{curr_obj.name}}"
          class="w-full h-full object-contain"
        />
        {% endif %}
      </div>

      <div
        class="bg-teal-400 p-4 rounded-2xl"
        hx-get="{% url 'product_images' curr_obj.id %}"
        hx-trigger="load, db_changed from:body"
        hx-target="this"
      ></div>
    </div>

    <div class="w-full flex flex-col gap-2">
      <h2 class="text-4xl font-bold text-black">{{curr_obj.name}}</h2>
      <h4>{{curr_obj.quantity}} en stock</h4>
      {% if curr_obj.is_promoted %}
      <div class="flex gap-4">
        <p class="text-gray-400">
          <i class="fa-solid fa-tag mr-2"></i>
          <span class="line-through">{{ curr_obj.price }} CFA</span>
        </p>
        <p class="text-yellow-500 text-lg font-bold">
          <i class="fa-solid fa-tags text-yellow-400 mr-2"></i>
          {{curr_obj.promo_price}} CFA
        </p>
      </div>
      {% else %}
      <p class="text-teal-700 text-lg font-bold">
        <i class="fa-solid fa-tag text-teal-700 mr-2"></i>
        {{curr_obj.price}} CFA
      </p>
      {% endif %}
      <p><b>Description : </b> {{curr_obj.description }}</p>
      <a
        href="{% url 'edit_product' curr_obj.id %}"
        class="w-fit bg-teal-700 hover:bg-teal-900 text-white px-6 py-2 rounded-full transition duration-200 ease-in"
        >Modifier <i class="fa-solid fa-pen-to-square ml-4"></i
      ></a>
    </div>
  </div>
</div>
