{% extends 'main.html' %} {% load static %} {% block content %}

<div class="flex flex-col gap-4">
  <div
    class="p-6 bg-green-100 rounded-3xl h-full w-full max-w-7xl mx-auto flex flex-col justify-between gap-6"
  >
    <div class="flex justify-between">
      <a
        id="back-button"
        class="inline-block px-3 py-2 text-white bg-green-700 hover:bg-green-900 rounded-lg transition-all duration-300"
        href="#"
        >&larr;
      </a>
      {% if curr_obj.is_valid %}
      <span
        class="flex items-center gap-4 py-2 px-4 rounded-xl bg-green-300 text-black"
        ><i class="fa-solid fa-eye"></i>Achat N°-<b
          >000-{{ curr_obj.id}}</b
        ></span
      >
      {% else %}
      <span
        class="flex items-center gap-4 py-2 px-4 rounded-xl bg-orange-300 text-black"
        ><i class="fa-solid fa-eye-slash"></i>Achat N°-<b
          >000-{{ curr_obj.id}}</b
        ></span
      >
      {% endif %}
    </div>

    <div class="w-full flex flex-col gap-2">
      <h2 class="text-4xl font-bold text-black">{{curr_obj.label}}</h2>

      <p><b>Fournisseur : </b> {{curr_obj.supplier.name }}</p>
      <p><b>Caisse : </b> {{curr_obj.cashdesk.name }}</p>
      <p>
        <b>Moyen de paiement : </b> {{curr_obj.get_payment_option_display }}
      </p>
      <p>
        <b>Status du paiement : </b> {{curr_obj.get_payment_status_display }}
      </p>
      <p><b>Montant : </b> {{curr_obj.total }} Cfa</p>
      <!-- <p><b>Description : </b> {{curr_obj.description }}</p> -->

      <div id="btnBox" class="flex gap-2">
        <a
          href="{% url 'edit_service_purchase' curr_obj.id %}"
          class="w-fit bg-green-200 hover:bg-green-300 text- px-6 py-2 rounded-lg transition duration-200 ease-in"
          >Modifier<i class="fa-solid fa-pen-to-square ml-4"></i
        ></a>

        <button
          hx-target="#btnBox"
          hx-swap="outerHTML"
          hx-get="{% url 'populate_inventory' curr_obj.id %}"
          class="w-fit bg-orange-200 hover:bg-orange-300 text- px-6 py-2 rounded-lg transition duration-200 ease-in"
        >
          Ajouter des produits à cet achat <i class="fa-solid fa-plus ml-4"></i>
        </button>
      </div>
      <!-- <div id="formset" class="w-full"></div> -->
    </div>
  </div>

  <div>
    <b>Liste des produits</b>
  </div>
</div>
{% endblock %}
