{% extends 'main.html' %} {% load static %} {% block content %}
<div class="w-full max-w-7xl mx-auto flex flex-col justify-between gap-4">
  <a
    class="w-fit px-3 py-2 text-white bg-green-700 hover:bg-green-900 rounded transition-all duration-300"
    href="{% url 'parameters' %}"
    >&larr;
  </a>
  <!--  -->
  <div class="w-full grid md:grid-cols-2 gap-4">
    <div
      class="p-3 w-full bg-green-700 text-white rounded flex flex-col lg:flex-row items-center gap-4"
    >
      <img
        class="h-40 w-40 bg-white rounded-full object-cover"
        src="{% static 'imgs/icon-w.png' %}"
        alt="image"
      />
      <article class="text-gray-300 grid gap-1 w-full">
        <h4 class="text-white text-2xl font-bold">{{curr_obj.name}}</h4>
        <p>
          <i class="fa-solid fa-store-alt text-gray-300 mr-3"></i> Boutique :
          <span class="text-white"> {{curr_obj.store.name}} </span>
        </p>
        <p>
          <i class="fa-solid fa-calendar-days text-gray-300 mr-3"></i> Date :
          <span class="text-white"> {{curr_obj.timestamp.date}} </span>
        </p>
        <p>
          <i class="fa-solid fa-clock text-gray-300 mr-3"></i> Heure :
          <span class="text-white">{{curr_obj.timestamp.time}} </span>
        </p>
      </article>
    </div>

    <div class="h-full bg-lime-200 mb-4 p-4 rounded text-base grid gap-4">
      <span>Achats : <b>{{ purchases|length }}</b></span>
      <span>Retours : <b>{{ returned|length }}</b></span>
      <span>Dons/Cadeaux : <b>{{ gifts|length }}</b></span>
      <span>Utilisations : <b>{{ gifts|length }}</b></span>
      <span>Dommages : <b>{{ gifts|length }}</b></span>
    </div>
  </div>

  <section class="mb-20 flex flex-col gap-4">
    <div class="flex items-center justify-between">
      <h3 class="font-bold text-lg text-black">Liste des produits du lot</h3>
      <form
        id="filter"
        hx-post="{% url 'filter_client_purchases' curr_obj.id %}"
        hx-target=".client_purchases"
        class="p-1 w-full max-w-3xl flex justify-between items-center gap-1 text-sm"
      >
        {% csrf_token %}
        <section class="w-full flex justify-between items-center gap-1 text-xs">
          {% include 'base/components/date_margins.html' %}
          <!-- store -->
          <select
            name="store"
            class="hidden sm:flex px-3 py-2 rounded border focus:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-lime-400 w-full cursor-pointer"
          >
            <option value="" selected="true" disabled="disabled">
              Boutique
            </option>
            {% for obj in stores %}
            <option value="{{obj.id}}">{{obj.get_full_name}}</option>
            {% endfor %}
          </select>
          <!-- initiator -->
          <select
            name="initiator"
            class="hidden sm:flex px-3 py-2 rounded border focus:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-lime-400 w-full cursor-pointer"
          >
            <option value="" selected="true" disabled="disabled">
              Initiateur
            </option>
            {% for obj in initiators %}
            <option value="{{obj.id}}">{{obj.get_full_name}}</option>
            {% endfor %}
          </select>
          <!-- amount margin -->
          <!-- <input
            hx-post="{% url 'filter_client_purchases' curr_obj.id %}"
            hx-target=".client_purchases"
            hx-trigger="keyup changed delay:500ms"
            placeholder="Min"
            name="min_amount"
            type="number"
            class="px-3 py-2 rounded border focus:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-lime-400 w-full cursor-pointer"
          />
          <input
            hx-post="{% url 'filter_client_purchases' curr_obj.id %}"
            hx-target=".client_purchases"
            hx-trigger="keyup changed delay:500ms"
            placeholder="Max"
            name="max_amount"
            type="number"
            class="px-3 py-2 rounded border focus:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-lime-400 w-full cursor-pointer"
          /> -->
        </section>

        <button
          class="px-3 py-2 bg-green-700 hover:bg-green-900 text-white rounded transition duration-200 ease-in"
          type="submit"
        >
          <i class="fa-solid fa-filter"></i>
        </button>
        <button
          class="px-3 py-2 bg-lime-200 hover:bg-lime-400 hover:text-black rounded transition duration-200 ease-in"
          hx-on:click="clearForm('filter')"
          type="submit"
        >
          <i class="fa-solid fa-rotate-right"></i>
        </button>
      </form>
    </div>

    {% include 'base/products/prod_stock_list.html' %}
  </section>
</div>

{% endblock %}
