{% extends 'main.html' %} {% load static %} {% block content %}
<div class="w-full max-w-7xl mx-auto flex flex-col gap-4">
  <div class="w-full max-w-7xl mx-auto flex flex-col justify-between gap-4">
    <a
      id="back-button"
      class="w-fit px-3 py-2 text-white bg-green-700 hover:bg-green-900 rounded transition-all duration-300"
      href="#"
      >&larr;</a
    >

    <div class="grid grid-cols-1 gap-10 sm:grid-cols-2">
      <div class="flex flex-col gap-4">
        <div class="bg-white w-full h-full border rounded overflow-hidden">
          {% if not curr_obj.image %}
          <img
            src="{% static 'imgs/icon-w.png' %}"
            alt="image"
            class="w-80 h-80 object-contain"
          />
          {% else %}
          <img
            src="{{curr_obj.image.url}}"
            alt="{{curr_obj.name}}"
            class="w-80 h-80 object-contain"
          />
          {% endif %}
        </div>
      </div>

      <div class="w-full flex flex-col gap-2">
        <div class="flex items-center gap-2">
          <h2 class="text-4xl font-bold text-black">{{curr_obj.name}}</h2>
          <button
            onclick="closeModal()"
            hx-target="#basic_dialog"
            hx-get="{% url 'edit_product' curr_obj.id %}"
            class="w-fit hover:bg-green-700 hover:text-white py-2 px-3 rounded-full transition duration-200 ease-in"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </div>
        <p>Marque : <b> {{ curr_obj.brand }}</b></p>
        <p>Catégorie : <b> {{curr_obj.category }}</b></p>
        <p>Famille : <b> {{curr_obj.family }}</b></p>
        <p>Unité de mesure : <b> {{curr_obj.unit }}</b></p>
        <p>Quantité vendue : <b> {{curr_obj.get_total_sold }} 0</b></p>
        <p>Recette : <b> {{curr_obj.get_total_sold }} 0 CFA</b></p>
        {% if is_favorite %}
        <p>Produit très en demande</p>
        {% endif %}
        <p><b>Description : </b> {{curr_obj.description }}</p>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <b class="text-black">Liste des stocks de ce produit</b>
    <div
      class="prod_stocks"
      hx-get="{% url 'prod_stocks' curr_obj.id %}"
      hx-trigger="load, db_changed from:body"
      hx-target="this"
    ></div>
  </div>
</div>
{% endblock %}
