{% load app_tags %}
<!--  -->
{% if not stores %}
<div
  class="h-full flex flex-col items-center justify-center gap-2 my-20 mx-auto"
>
  <i class="fa-solid fa-store text-green-700 text-9xl"></i>
  <span>Aucune boutique trouvé</span>
</div>
{% else %}
<table class="w-full text-left db-table rounded">
  <thead class="bg-green-700 border border-green-900 text-white">
    <tr>
      <th class="px-3 py-4 text-sm">Réf.</th>
      <th class="px-3 py-4 text-sm">Nom</th>
      <th class="px-3 py-4 text-sm">Type</th>
      <th class="px-3 py-4 text-sm">Adresse</th>
      <th class="px-3 py-4 text-sm">Ville</th>
      <th class="px-3 py-4 text-sm">Telephone</th>
      <th class="px-3 py-4 text-sm">Heure d'ouverture</th>
      <th class="px-3 py-4 text-sm">Heure de fermeture</th>
      <th class="px-3 py-4 text-sm text-center">Action</th>
    </tr>
  </thead>

  <tbody class="border">
    {% for obj in stores %}
    <tr
      class="text-gray-600 border text-sm hover:bg-white hover:text-black transition-all duration-50"
    >
      <td class="px-3 py-1">Btq-000-{{obj.id}}</td>
      <td class="px-3 py-1">{{obj.name}}</td>
      <td class="px-3 py-1">{{obj.get_type_display}}</td>
      <td class="px-3 py-1">{{obj.address}}</td>
      <td class="px-3 py-1">{{obj.city}}</td>
      <td class="px-3 py-1">{{obj.phone}}</td>
      <td class="px-3 py-1">{{obj.opening_time}}</td>
      <td class="px-3 py-1">{{obj.closing_time}}</td>
      <td class="px-3 py-1 relative text-center">
        <div class="w-fit text-gray-700 mx-auto">
          <a
            hx-boost="false"
            href="{% url 'store_details' obj.id %}"
            class="px-4 py-2 flex justify-between items-center gap-3 text-black bg-lime-200 hover:bg-lime-300 rounded w-full text-center cursor-pointer"
          >
            Détails
            <i class="text-sm fa-solid fa-arrow-right mr-2"></i>
          </a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
