{% load static %}

<div
  class="p-2 relative w-full h-full bg-white text-sm grid grid-cols-6 justify-between items-center rounded-xl border hover:shadow-lg transition duration-200 ease-in"
>
  <p>Date : {{obj.timestamp.date}}</p>
  <p>Heure : {{obj.timestamp.time}}</p>
  <p>Vendeur(se) : {{obj.seller.last_name}}</p>

  <p>
    Total :
    <span
      class="w-fit text-xs text-black bg-green-200 rounded-md px-2 py-[0.2em]"
    >
      {{obj.total}} CFA</span
    >
  </p>
  <p>
    Remise :
    <span
      class="w-fit text-xs text-black bg-orange-200 rounded-md px-2 py-[0.2em]"
      >{{obj.discount}} CFA</span
    >
  </p>
  <button
    type="button"
    class="hover:text-black bg-white rounded-lg hover:text-green-400 px-2 py-1 text-sm"
    name="sentry"
    aria-expanded="false"
    aria-haspopup="true"
    onclick="toggleMenu(this,'menu_c_{{obj.id}}')"
  >
    <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
  </button>

  <div
    class="hidden absolute top-3 right-3 bg-gray-50 w-40 shadow-md lg:w-[180px] p-2 absolute right-0 top-0 origin-top-left bg-white z-10 rounded-xl flex flex-col items-center gap-2 text-xs overflow-hidden"
    role="status menu"
    aria-orientation="vertical"
    aria-labelledby="status-menu-button"
    tabindex="-1"
    id="menu_c_{{obj.id}}"
  >
    <!--  -->
    <a
      hx-boost="false"
      href="{% url 'sale_details' obj.id %}"
      class="px-3 py-1 flex items-center hover:text-black hover:bg-green-200 rounded-lg w-full text-center cursor-pointer"
    >
      <i class="text-sm fa-solid fa-expand mr-2"></i>
      Détails
    </a>

    <button
      onclick="hide_dialogs()"
      hx-target="#basic_dialog"
      hx-delete="{% url 'delete_base_object' obj.id 'Sale' %}"
      hx-confirm="Voulez vous vraiment suprimmer ceci?"
      class="px-3 py-1 flex items-center hover:text-black hover:bg-red-200 rounded-lg w-full text-center cursor-pointer"
    >
      <i class="text-sm fa-solid fa-trash mr-2"></i>
      Supprimer
    </button>

    <!--  -->
  </div>
</div>

<script>
  function toggleDropdown(e, obj_id) {
    activeMenu = document.getElementById(`actionMenu${obj_id}`);
    e.name === `sentry`
      ? ((e.name = "close"), activeMenu.classList.remove("hidden"))
      : ((e.name = `sentry`), activeMenu.classList.add("hidden"));
  }

  window.addEventListener("mouseup", function (event) {
    activeMenu.classList.add("hidden");
  });
</script>
