        <!-- date margin -->
        <div class="relative group smoothen">
          <span class="absolute left-0 top-0 hidden group-hover:inline px-4 py-2 bg-white rounded-full text-xs">A partir du...</span>
          <input
          class="px-3 py-2 hidden lg:inline w-full rounded-full cursor-pointer w-full"
          type="date"
          name="min_date"
          id="min_date"
          />
        </div>
        <div class="relative group smoothen">
          <span class="absolute left-0 top-0 hidden group-hover:inline px-4 py-2 bg-white rounded-full text-xs">Jusqu'au...</span>
          <input
            class="px-3 py-2 hidden lg:inline w-full rounded-full cursor-pointer w-full"
            type="date"
            name="max_date"
            id="max_date"
          />
        </div>