{% load static %}

<div
  class="py-2 px-4 w-full bg-white hover:bg-gray-100 text-xs xl:text-sm grid grid-cols-8 items-center gap-4 rounded-xl border hover:shadow-lg transition duration-200 ease-in"
>
  <!-- {% if obj.product.image %}
  <img
    src="{{ obj.product.image.url }}"
    alt="{{ obj.product.name }}"
    class="w-8 h-8 object-contain rounded-full"
  />
  {% else %}
  <img
    src="{% static 'imgs/logo.png' %}"
    alt="image"
    class="w-8 h-8 object-contain rounded-full"
  />
  {% endif %} -->
  <!--  -->
  <h3 class="font-bold text-black">{{obj.product.name}}</h3>
  <span class="text-orange-600"> {{obj.product.brand}} </span>
  {% if obj.is_promoted %}
  <span>
    <i class="fa-solid fa-tags text-yellow-400 mr-2"></i>
    {{obj.promo_price}} CFA
  </span>
  {% else %}
  <span>
    <i class="fa-solid fa-tag mr-2"></i>
    {{obj.price}} CFA
  </span>
  {% endif %}
  <span> {{obj.quantity}} </span>
  <span> {{obj.product.get_unit_display}} </span>
  <span> {{obj.product.category}} </span>
  <span> {{obj.product.family}} </span>

  <div
    class="w-fit flex gap-3 justify-end items-end text-end relative text-gray-700"
  >
    <button
      type="button"
      class="bg-white hover:text-teal-500 px-3 py-1 rounded-full"
      name="sentry"
      aria-expanded="false"
      aria-haspopup="true"
      onclick="toggleDropdown(this,'{{obj.product.id}}')"
    >
      <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
    </button>

    <div
      class="hidden bg-gray-50 w-40 shadow-md lg:w-[180px] p-2 absolute right-0 top-12 origin-top-left bg-white z-10 rounded-xl flex flex-col items-center gap-2 text-xs lg:text-sm overflow-hidden"
      role="status menu"
      aria-orientation="vertical"
      aria-labelledby="status-menu-button"
      tabindex="-1"
      id="actionMenu{{obj.product.id}}"
    >
      <!--  -->
      <a
        hx-target="#basic_dialog"
        hx-get="{% url 'prod_stock_details' obj.product.id %}"
        class="px-4 py-2 flex items-center hover:text-black hover:bg-green-200 rounded-lg w-full text-center cursor-pointer"
        ><i class="text-sm fa-solid fa-expand mr-2"></i>
        Détails
      </a>

      <button
        onclick="hide_dialogs()"
        hx-target="#basic_dialog"
        hx-get="{% url 'edit_product_stock' obj.product.id %}"
        class="px-4 py-2 flex items-center hover:text-black hover:bg-orange-200 rounded-lg w-full text-center cursor-pointer"
      >
        <i class="text-sm fa-solid fa-pen-to-square mr-2"></i>
        Modifier
      </button>

      <button
        hx-confirm="Voulez vous vraiment suprimmer ceci?"
        hx-delete="{% url 'delete_base_object' obj.product.id 'ProductStock' %}"
        class="px-4 py-2 flex items-center hover:text-black hover:bg-red-200 rounded-lg w-full text-center cursor-pointer"
      >
        <i class="text-sm fa-solid fa-trash mr-2"></i>
        Supprimer
      </button>
    </div>
  </div>
</div>

<script>
  function toggleDropdown(e, obj_id) {
    activeMenu = document.getElementById(`actionMenu${obj_id}`);
    e.name === `sentry`
      ? ((e.name = "close"), activeMenu.classList.remove("hidden"))
      : ((e.name = `sentry`), activeMenu.classList.add("hidden"));
  }

  window.addEventListener("mouseup", function (event) {
    activeMenu.classList.add("hidden");
  });
</script>
