{% load static %}

<div
  class="relative w-full h-full bg-white flex flex-col justify-between rounded border hover:shadow-lg group transition duration-200 ease-in overflow-hidden"
>
  <!-- <a class="w-full min-h-40" href="{% url 'product_details' obj.id %}"> -->
  {% if obj.product.image %}
  <img
    src="{{ obj.product.image.url }}"
    alt="{{ obj.product.name }}"
    class="w-full h-40 object-cover"
  />
  {% else %}
  <img
    src="{% static 'imgs/icon-w.png' %}"
    alt="image"
    class="w-full h-40 object-cover"
  />
  {% endif %}
  <!-- </a> -->

  {% if obj.is_new %}
  <span
    class="absolute top-3 left-3 bg-white rounded px-2 py-1 text-green-400 text-sm"
  >
    <i class="fa-solid fa-medal"></i>
  </span>
  {% endif %}

  <div class="absolute top-3 right-3 text-gray-700">
    <button
      type="button"
      class="hover:text-black bg-white hover:text-green-400 px-2 py-1 hover:text-green-400 text-sm"
      name="sentry"
      aria-expanded="false"
      aria-haspopup="true"
      onclick="toggleMenu(this,'menu_c_{{obj.id}}')"
    >
      <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
    </button>

    <div
      class="hidden bg-gray-50 w-40 shadow-md lg:w-[180px] p-2 absolute right-0 top-0 origin-top-left bg-white z-10 rounded flex flex-col items-center gap-2 text-xs overflow-hidden"
      role="status menu"
      aria-orientation="vertical"
      aria-labelledby="status-menu-button"
      tabindex="-1"
      id="menu_c_{{obj.id}}"
    >
      <!--  -->
      <button
        onclick="hide_dialogs()"
        hx-target="#basic_dialog"
        hx-get="{% url 'prod_stock_details' obj.id %}"
        class="px-3 py-1 flex items-center hover:text-black hover:bg-green-200 rounded w-full text-center cursor-pointer"
      >
        <i class="text-sm fa-solid fa-expand mr-2"></i>
        Détails
      </button>

      <button
        onclick="hide_dialogs()"
        hx-target="#basic_dialog"
        hx-get="{% url 'edit_prod_stock' obj.id %}"
        class="px-3 py-1 flex items-center hover:text-black hover:bg-orange-200 rounded w-full text-center cursor-pointer"
      >
        <i class="text-sm fa-solid fa-pen-to-square mr-2"></i>
        Modifier
      </button>

      <button
        onclick="hide_dialogs()"
        hx-target="#basic_dialog"
        hx-delete="{% url 'delete_base_object' obj.id 'ProductStock' %}"
        hx-confirm="Voulez vous vraiment suprimmer ceci?"
        class="px-3 py-1 flex items-center hover:text-black hover:bg-red-200 rounded w-full text-center cursor-pointer"
      >
        <i class="text-sm fa-solid fa-trash mr-2"></i>
        Supprimer
      </button>

      <!--  -->
    </div>
  </div>

  <article class="p-2 h-fit flex flex-col gap-2 bg-gray-100 text-sm">
    <h3 class="font-bold text-black text-sm">{{obj.product.name}}</h3>
    {% if obj.is_promoted %}
    <p>
      <i class="fa-solid fa-tags text-orange-400 mr-2"></i>
      {{obj.promo_price}} CFA
    </p>
    {% else %}
    <p>
      <i class="fa-solid fa-tag text-green-700 mr-2"></i>
      {{obj.price}} CFA
    </p>
    {% endif %}
  </article>
</div>

<script>
  function toggleDropdown(e, obj_id) {
    activeMenu = document.getElementById(`actionMenu${obj_id}`);
    e.name === `sentry`
      ? ((e.name = "close"), activeMenu.classList.remove("hidden"))
      : ((e.name = `sentry`), activeMenu.classList.add("hidden"));
  }

  window.addEventListener("mouseup", function (event) {
    activeMenu.classList.add("hidden");
  });
</script>
