{% load static %}
<!--  -->
<a
  hx-get="{% url 'staff_details' obj.id %}"
  hx-target="#dashbase"
  hx-swap="outerHTML"
  class="cursor-pointer"
>
  <div
    class="bg-teal-200 h-full relative flex flex-col items-center gap-2 border bg-white hover:shadow-md rounded-xl overflow-hidden"
  >
    <img
      class="w-full h-20 object-cover transition duration-500 group-hover:scale-110"
      src="{% static 'imgs/banner_2.webp' %}"
      alt="image"
    />

    <div class="flex">
      {% if not obj.profile.image %}
      <img
        class="absolute z-30 top-[30px] left-4 h-20 w-20 rounded-full object-cover"
        src="{% static 'imgs/anon.png' %}"
        alt="image"
      />
      {% else %}
      <img
        class="absolute z-30 top-[30px] left-4 h-20 w-20 rounded-full object-cover"
        src="{{obj.profile.image.url}}"
        alt="image"
      />
      {% endif %}
    </div>

    <div class="p-4 w-full flex flex-col gap-1 text-left">
      <h4 class="text-black font-bold">{{obj.last_name}} {{obj.first_name}}</h4>
      <p class="rounded-md flex gap-2 items-center text-black text-xs">
        {{obj.role.name}}
      </p>
      <p class="text-sm">{{obj.profile.bio|truncatechars:50}}</p>
    </div>
  </div>
</a>
