{% load static %}

<div
  class="py-2 px-4 w-full bg-white hover:bg-gray-100 text-xs xl:text-sm flex justify-between items-center gap-4 lg:grid lg:grid-cols-6 rounded-full border hover:shadow-lg transition duration-200 ease-in"
>
  {% if obj.image %}
  <img
    src="{{ obj.image.url }}"
    alt="{{ obj.name }}"
    class="w-7 h-7 object-cover rounded-full"
  />
  {% else %}
  <img
    src="{% static 'imgs/logo-g.png' %}"
    alt="image"
    class="w-7 h-7 object-cover rounded-full"
  />
  {% endif %}

  <h3 class="font-bold text-black">{{obj.name}}</h3>

  <p>{{obj.address}}</p>

  <p>{{obj.email}}</p>

  <p>{{obj.phone}}</p>

  <div
    class="w-fit flex gap-3 justify-end items-end text-end relative text-gray-700"
  >
    <button
      onclick="toggleAccordion('c_{{obj.id}}')"
      class="px-3 py-2 flex items-center hover:text-black hover:bg-gray-300 rounded-full w-fit text-xs cursor-pointer transition duration-300 ease-in"
    >
      <i id="c_{{obj.id}}_caret" class="fa-solid fa-caret-down"></i>
    </button>

    <button
      type="button"
      class="hover:text-black bg-white hover:text-teal-700 px-3 py-1 rounded-full"
      name="sentry"
      aria-expanded="false"
      aria-haspopup="true"
      onclick="toggleMenu(this,'menu_c_{{obj.id}}')"
    >
      <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
    </button>

    <div
      class="hidden bg-gray-50 w-40 shadow-md lg:w-[180px] p-2 absolute right-0 top-12 origin-top-left bg-white z-10 rounded-xl flex flex-col items-center gap-2 text-xs lg:text-sm overflow-hidden"
      role="status menu"
      aria-orientation="vertical"
      aria-labelledby="status-menu-button"
      tabindex="-1"
      id="menu_c_{{obj.id}}"
    >
      <!--  -->
      <a
        hx-boost="false"
        href="{% url 'supplier_details' obj.id %}"
        class="px-4 py-2 flex items-center hover:text-black hover:bg-teal-200 rounded-full w-full text-center cursor-pointer"
        ><i class="text-sm fa-solid fa-expand mr-2"></i>
        Détails
      </a>

      <button
        onclick="hide_dialogs()"
        hx-target="#basic_dialog"
        hx-get="{% url 'edit_supplier' obj.id %}"
        class="px-4 py-2 flex items-center hover:text-black hover:bg-yellow-200 rounded-full w-full text-center cursor-pointer"
      >
        <i class="text-sm fa-solid fa-pen-to-square mr-2"></i>
        Modifier
      </button>

      <button
        onclick="hide_dialogs()"
        hx-target="#basic_dialog"
        hx-delete="{% url 'delete_store_object' obj.id 'Supplier' %}"
        hx-confirm="Voulez vous vraiment suprimmer ceci?"
        class="px-4 py-2 flex items-center hover:text-black hover:bg-red-200 rounded-full w-full text-center cursor-pointer"
      >
        <i class="text-sm fa-solid fa-trash mr-2"></i>
        Supprimer
      </button>

      <!--  -->
    </div>
  </div>
</div>

<div
  id="c_{{obj.id}}"
  class="accordion hidden bg-teal-900 text-white rounded-xl p-2 lg:p-4"
>
  Details are here
</div>
