{% extends 'main.html' %} {% load static %} {% block content %}
<div class="w-full max-w-7xl mx-auto flex flex-col justify-between gap-4">
  <div class="flex justify-between items-center">
    <button
      onclick="goBack()"
      class="w-fit px-3 py-2 text-white bg-green-700 hover:bg-green-900 rounded transition-all duration-300"
    >
      &larr;
    </button>
  </div>
  <!--  -->
  <div class="w-full grid md:grid-cols-2 gap-4">
    <div
      class="p-3 w-full bg-green-200 rounded flex flex-col lg:flex-row items-center gap-4"
    >
      <img
        class="h-40 w-40 bg-white rounded-full object-cover"
        src="{% static 'imgs/icon-w.png' %}"
        alt="image"
      />
      <article class="text-gray-700 grid gap-1 w-full">
        <h4 class="text-black text-2xl font-bold">{{curr_obj.name}}</h4>
        <p>
          <i class="fa-solid fa-cash-register text-gray-800 mr-3"></i> Type :
          <span class="text-black">Caisse {{curr_obj.get_type_display}} </span>
        </p>
        <p>
          <i class="fa-solid fa-store text-gray-800 mr-3"></i> Boutique :
          <span class="text-black"> {{curr_obj.store.name}} </span>
        </p>
        {% if curr_obj.type == 'mobile' %}
        <p>
          <i class="fa-solid fa-phone text-gray-800 mr-3"></i> N° de telephone :
          <span class="text-black">{{curr_obj.phone}} </span>
        </p>
        <p>
          <i class="fa-solid fa-tower-cell text-gray-800 mr-3"></i> Opérateur :
          <span class="text-black">{{curr_obj.get_carrier_display}} </span>
        </p>
        {% elif curr_obj.type == 'bank' %}
        <p>
          <i class="fa-solid fa-bank text-gray-800 mr-3"></i> Compte bancaire :
          <span class="text-black">{{curr_obj.acc_number}} </span>
        </p>
        {% endif %}
        <p>
          <i
            class="fa-solid fa-scroll text-gray-800 mr-3"
          ></i>
          Transactions :
          <span class="text-black">{{transactions|length}} </span>
        </p>
      </article>
    </div>

    <div class="h-full bg-white border mb-4 p-3 rounded shadow-md grid gap-2">
      <div
        class="p-2 bg-green-200 rounded text-black flex justify-between items-center gap-2"
      >
        <span>Encaissements : <b>{{ credits|length }}</b></span>
        <span>Montant total encaissé : <b>{{ credits_aggregate }} CFA</b></span>
      </div>

      <div
        class="p-2 bg-orange-200 rounded text-black flex justify-between items-center gap-2"
      >
        <span>Décaissements : <b>{{ debits|length }}</b></span>
        <span>Montant total décaissé : <b>{{ debits_aggregate }} CFA</b></span>
      </div>

      <div class="p-2 bg-gray-200 rounded text-black flex items-center">
        <span>Solde : <b>{{ balance }} CFA</b></span>
      </div>
    </div>
  </div>

  <section class="flex flex-col gap-4">
    <div class="flex items-center justify-between">
      <h3 class="font-bold text-lg text-black">Liste des transactions</h3>
      <form
        id="filter"
        hx-post="{% url 'filter_transactions' %}"
        hx-target=".transactions_list"
        class="p-1 w-full max-w-3xl flex justify-between items-center gap-1 text-sm"
      >
        {% csrf_token %}
        <section class="w-full flex justify-between items-center gap-1 text-xs">
          {% include 'base/components/date_margins.html' %}
          <!-- transaction initiator -->
          <select
            name="initiator"
            class="hidden sm:flex px-3 py-2 rounded border focus:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-lime-400 w-full cursor-pointer"
          >
            <option value="" selected="true" disabled="disabled">
              Initiateurs
            </option>
            {% for obj in initiators %}
            <option value="{{obj.id}}">{{obj.get_full_name}}</option>
            {% endfor %}
          </select>
          <!-- transaction amount margin -->
          <input
            hx-post="{% url 'filter_transactions' %}"
            hx-target=".transactions_list"
            hx-trigger="keyup changed delay:500ms"
            placeholder="Min"
            name="min_amount"
            type="number"
            class="px-3 py-2 rounded border focus:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-lime-400 w-full cursor-pointer"
          />
          <input
            hx-post="{% url 'filter_transactions' %}"
            hx-target=".transactions_list"
            hx-trigger="keyup changed delay:500ms"
            placeholder="Max"
            name="max_amount"
            type="number"
            class="px-3 py-2 rounded border focus:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-lime-400 w-full cursor-pointer"
          />
          <!-- transaction type -->
          <select
            name="type"
            class="hidden sm:flex px-3 py-2 rounded border focus:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-lime-400 w-full cursor-pointer"
          >
            <option value="" selected="true" disabled="disabled">Type</option>
            <option value="credit">Encaissement</option>
            <option value="debit">Décaissement</option>
          </select>
        </section>

        <button
          class="px-3 py-2 bg-green-700 hover:bg-green-900 text-white rounded transition duration-200 ease-in"
          type="submit"
        >
          <i class="fa-solid fa-filter"></i>
        </button>
        <button
          class="px-3 py-2 bg-lime-200 hover:bg-lime-400 hover:text-black rounded transition duration-200 ease-in"
          hx-on:click="clearForm('filter')"
          type="submit"
        >
          <i class="fa-solid fa-rotate-right"></i>
        </button>
      </form>
      <div class="flex gap-2 items-center">
        <button
          onclick="hide_dialogs()"
          hx-target="#basic_dialog"
          hx-get="{% url 'create_desk_transaction' curr_obj.id %}"
          class="px-4 py-2 flex items-center text-black bg-lime-200 hover:bg-lime-300 rounded w-fit text-center cursor-pointer"
        >
          Nouveau
          <i class="text-sm fa-solid fa-plus ml-2"></i>
        </button>
        <a
          href="{% url 'desk_closings_list' curr_obj.id %}"
          class="px-4 py-2 flex items-center text-black bg-orange-200 hover:bg-orange-300 rounded w-fit text-center cursor-pointer"
        >
          Arrêtés
          <i class="fa-solid fa-shop-lock ml-2"></i>
        </a>
      </div>
    </div>
    <div
      class="desk_transactions"
      hx-get="{% url 'desk_transactions' curr_obj.id %}"
        hx-trigger="load, db_changed from:body"
        hx-target="this"
      >
        <p
          class="h-full w-full flex justify-center items-center text-lime-500 p-4"
        >
          <i class="m-auto fas fa-spinner fa-spin text-3xl animate-spin"></i>
        </p></div>
  </section>
</div>
{% endblock %}
