<div class="mb-4 flex justify-between items-center gap-4">
  <div
    class="p-2 grid grid-cols-2 gap-2 border border shadow-md rounded-xl text-gray-700 text-sm"
  >
    <p class="bg-green-700 text-white rounded-lg px-4 py-2 flex items-center">
      Encaissements :
      <span class="text-lg font-bold ml-2">{{credits|length}}</span>
    </p>
    <p class="bg-green-300 text-black rounded-lg px-4 py-2 flex items-center">
      Montant total encaissé :
      <span class="text-lg font-bold ml-2">{{credits_aggregate}} CFA</span>
    </p>
  </div>
  <button
    onclick="hide_dialogs()"
    hx-target="#basic_dialog"
    hx-get="{% url 'create_credit' %}"
    class="bg-lime-200 hover:bg-lime-300 rounded-lg py-2 px-4 text-black flex items-center gap-4 group"
  >
    Nouveau
    <i class="text-sm fa-solid fa-plus ml-2"></i>
  </button>
</div>

{% if not credits %}
<div class="flex flex-col items-center gap-2 my-20 mx-auto">
  <i class="fa-solid fa-arrow-down text-green-700 text-9xl"></i>
  <span>Aucune entrée de stock trouvée</span>
</div>
{% else %}

<!-- <div class="h-full overflow-x-auto overflow-y-hidden rounded-xl"> -->
<table class="w-full text-left db-table rounded-xl border">
  <thead class="bg-green-300 text-black">
    <tr>
      <th class="px-3 py-4 text-sm">Réf.</th>
      <th class="px-3 py-4 text-sm">Boutique</th>
      <th class="px-3 py-4 text-sm">Initiateur</th>
      <th class="px-3 py-4 text-sm">Date</th>
      <th class="px-3 py-4 text-sm">Libelé</th>
      <th class="px-3 py-4 text-sm">Montant</th>
      <!-- <th class="px-3 py-4 text-sm">Actions</th> -->
    </tr>
  </thead>

  <tbody class="border">
    {% for obj in credits %}
    <tr
      class="text-gray-600 border text-sm hover:bg-white hover:text-black transition-all duration-50"
    >
      <td class="px-3 py-1">Ent-000-{{obj.id}}</td>
      <td class="px-3 py-1">{{obj.store.name}}</td>
      <td class="px-3 py-1">{{obj.initiator.get_full_name}}</td>
      <td class="px-3 py-1">{{obj.timestamp.date}}</td>
      <td class="px-3 py-1">{{obj.label}}</td>
      <td class="px-3 py-1">{{obj.amount}} CFA</td>
      <td class="px-3 py-1 relative hidden">
        <div
          class="w-fit flex gap-3 justify-end items-end text-end text-gray-700"
        >
          <button
            type="button"
            class="hover:bg-white hover:text-green-500 px-3 py-1 rounded-full"
            name="sentry"
            onclick="toggleMenu(this,'inp_{{obj.id}}')"
          >
            <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
          </button>

          <div
            class="hidden z-30 bg-gray-50 w-40 shadow-md lg:w-[180px] p-2 absolute right-0 top-12 origin-top-left bg-white z-10 rounded-xl flex flex-col items-center gap-2 text-xs lg:text-sm overflow-hidden"
            id="inp_{{obj.id}}"
          >
            <!--  -->
            <a
              hx-boost="false"
              href="{% url 'stock_input_details' obj.id %}"
              class="px-4 py-2 flex items-center hover:text-black hover:bg-green-200 rounded-lg w-full text-center cursor-pointer"
              ><i class="text-sm fa-solid fa-expand mr-2"></i>
              Détails
            </a>

            <button
              href="{% url 'edit_sale' obj.id %}"
              class="px-4 py-2 flex items-center hover:text-black hover:bg-orange-200 rounded-lg w-full text-center cursor-pointer"
            >
              <i class="text-sm fa-solid fa-pen-to-square mr-2"></i>
              Modifier
            </button>

            <button
              hx-confirm="Voulez vous vraiment suprimmer ceci?"
              hx-delete="{% url 'delete_base_object' obj.id 'Sale' %}"
              class="px-4 py-2 flex items-center hover:text-black hover:bg-red-200 rounded-lg w-full text-center cursor-pointer"
            >
              <i class="text-sm fa-solid fa-trash mr-2"></i>
              Supprimer
            </button>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- </div> -->

{% endif %}
