{% extends 'main.html' %} {% load static %} {% block content %}
<div class="w-full max-w-7xl mx-auto flex flex-col gap-4">
  <a
    id="back-button"
    class="w-fit px-3 py-2 text-white bg-green-700 hover:bg-green-900 rounded transition-all duration-300"
    href="#"
    >&larr;</a
  >

  <div class="grid grid-cols-2 gap-4 text-black">
    <div
      class="p-3 bg-green-200 rounded flex justify-between items-center gap-2"
    >
      <span>Encaissements : <b>{{ credits|length }}</b></span>
      <span
        >Montant total encaissé : <b>{{ credit_trans_aggregate }} CFA</b></span
      >
    </div>

    <div
      class="p-3 bg-orange-200 rounded flex justify-between items-center gap-2"
    >
      <span>Décaissements : <b>{{ debits|length }}</b></span>
      <span
        >Montant total décaissé : <b>{{ debit_trans_aggregate }} CFA</b></span
      >
    </div>
  </div>

  <div
    class="p-2 flex justify-between gap-2 tabbar h-fit w-full bg-green-700 rounded"
  >
    <button
      class="tabBtn w-full px-4 py-2 bg-white hover:bg-green-700 hover:text-white p-2 rounded flex flex-col"
      onclick="openTab(event, 'cash')"
      id="defaultTab"
    >
      <p>Caisse physiques : <b>{{ cash_desks|length }}</b></p>
      <p>Solde total : <b>{{ cash_balance }}</b> CFA</p>
    </button>
    <button
      class="tabBtn w-full px-4 py-2 bg-white hover:bg-green-700 hover:text-white p-2 rounded flex flex-col"
      onclick="openTab(event, 'mobile')"
    >
      <p>Caisses mobiles : <b>{{ mobile_desks|length }}</b></p>
      <p>Solde total : <b>{{ mobile_balance }}</b> CFA</p>
    </button>
    <button
      class="tabBtn w-full px-4 py-2 bg-white hover:bg-green-700 hover:text-white p-2 rounded flex flex-col"
      onclick="openTab(event, 'bank')"
    >
      <p>Compte bancaires : <b>{{ bank_desks|length }}</b></p>
      <p>Solde total : <b>{{ bank_balance }} CFA</b></p>
    </button>
  </div>

  <section>
    <div
      id="cash"
      class="tabcontent mb-4 flex flex-col justify-between items-center gap-4"
    >
      {% if not cash_desks %}
      <div
        class="h-full flex flex-col justify-center items-center gap-2 my-20 mx-auto"
      >
        <i class="fa-solid fa-cash-register text-green-700 text-9xl"></i>
        <span>Aucune caisse trouvée</span>
      </div>
      {% else %}
      <table class="w-full text-left db-table rounded">
        <thead class="bg-green-700 border border-green-900 text-white">
          <tr>
            <th class="px-3 py-4 text-sm">Réf.</th>
            <th class="px-3 py-4 text-sm">Nom</th>
            <th class="px-3 py-4 text-sm">Boutique</th>
            <th class="px-3 py-4 text-sm">Encaissements</th>
            <th class="px-3 py-4 text-sm">Décaissements</th>
            <th class="px-3 py-4 text-sm">Solde</th>
            <th class="px-3 py-4 text-sm text-center">Action</th>
          </tr>
        </thead>

        <tbody class="border">
          {% for obj in cash_desks %}
          <tr
            class="text-gray-600 border text-sm hover:bg-white hover:text-black transition-all duration-50"
          >
            <td class="px-3 py-1">Css-000-{{obj.id}}</td>
            <td class="px-3 py-1">{{obj.name}}</td>
            <td class="px-3 py-1">{{obj.store.name}}</td>
            <td class="px-3 py-1">{{obj.credits}} CFA</td>
            <td class="px-3 py-1">{{obj.debits}} CFA</td>
            <td class="px-3 py-1">{{obj.balance}} CFA</td>
            <td class="px-3 py-1 relative text-center">
              <a
                hx-boost="false"
                href="{% url 'cashdesk_details' obj.id %}"
                class="px-4 py-2 flex justify-between items-center text-black bg-lime-200 hover:bg-lime-300 rounded w-full text-center cursor-pointer"
              >
                Détails
                <i class="text-sm fa-solid fa-arrow-right mr-2"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>

    <div
      id="mobile"
      class="tabcontent mb-4 flex flex-col justify-between items-center gap-4"
    >
      {% if not mobile_desks %}
      <div
        class="h-full flex flex-col justify-center items-center gap-2 my-20 mx-auto"
      >
        <i class="fa-solid fa-cash-register text-green-700 text-9xl"></i>
        <span>Aucune caisse trouvée</span>
      </div>
      {% else %}
      <table class="w-full text-left db-table rounded">
        <thead class="bg-green-700 border border-green-900 text-white">
          <tr>
            <th class="px-3 py-4 text-sm">Réf.</th>
            <th class="px-3 py-4 text-sm">Nom</th>
            <th class="px-3 py-4 text-sm">Opérateur</th>
            <th class="px-3 py-4 text-sm">Boutique</th>
            <th class="px-3 py-4 text-sm">Telephone</th>
            <th class="px-3 py-4 text-sm">Encaissements</th>
            <th class="px-3 py-4 text-sm">Décaissements</th>
            <th class="px-3 py-4 text-sm">Solde</th>
            <th class="px-3 py-4 text-sm text-center">Action</th>
          </tr>
        </thead>

        <tbody class="border">
          {% for obj in mobile_desks %}
          <tr
            class="text-gray-600 border text-sm hover:bg-white hover:text-black transition-all duration-50"
          >
            <td class="px-3 py-1">Css-000-{{obj.id}}</td>
            <td class="px-3 py-1">{{obj.name}}</td>
            <td class="px-3 py-1">{{obj.get_carrier_display}}</td>
            <td class="px-3 py-1">{{obj.store.name}}</td>
            <td class="px-3 py-1">{{obj.phone}}</td>
            <td class="px-3 py-1">{{obj.credits}} CFA</td>
            <td class="px-3 py-1">{{ obj.debits }} CFA</td>
            <td class="px-3 py-1">{{obj.balance}} CFA</td>
            <td class="px-3 py-1 relative text-center">
              <a
                hx-boost="false"
                href="{% url 'cashdesk_details' obj.id %}"
                class="px-4 py-2 flex justify-between items-center hover:text-black bg-lime-200 hover:bg-lime-300 rounded w-full text-center cursor-pointer"
              >
                Détails
                <i class="text-sm fa-solid fa-arrow-right mr-2"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>

    <div
      id="bank"
      class="tabcontent mb-4 flex flex-col justify-between items-center gap-4"
    >
      {% if not bank_desks %}
      <div
        class="h-full flex flex-col justify-center items-center gap-2 my-20 mx-auto"
      >
        <i class="fa-solid fa-cash-register text-green-700 text-9xl"></i>
        <span>Aucune caisse trouvée</span>
      </div>
      {% else %}
      <table class="w-full text-left db-table rounded">
        <thead class="bg-green-700 border border-green-900 text-white">
          <tr>
            <th class="px-3 py-4 text-sm">Réf.</th>
            <th class="px-3 py-4 text-sm">Nom</th>
            <th class="px-3 py-4 text-sm">Boutique</th>
            <th class="px-3 py-4 text-sm">Compte</th>
            <th class="px-3 py-4 text-sm">Encaissements</th>
            <th class="px-3 py-4 text-sm">Décaissements</th>
            <th class="px-3 py-4 text-sm">Solde</th>
            <th class="px-3 py-4 text-sm text-center">Action</th>
          </tr>
        </thead>

        <tbody class="border">
          {% for obj in bank_desks %}
          <tr
            class="text-gray-600 border text-sm hover:bg-white hover:text-black transition-all duration-50"
          >
            <td class="px-3 py-1">Css-000-{{obj.id}}</td>
            <td class="px-3 py-1">{{obj.name}}</td>
            <td class="px-3 py-1">{{obj.store.name}}</td>
            <td class="px-3 py-1">{{obj.acc_number}}</td>
            <td class="px-3 py-1">{{obj.credits}} CFA</td>
            <td class="px-3 py-1">{{ obj.debits }} CFA</td>
            <td class="px-3 py-1">{{obj.balance}} CFA</td>
            <td class="px-3 py-1 relative text-center">
              <a
                hx-boost="false"
                href="{% url 'cashdesk_details' obj.id %}"
                class="px-4 py-2 flex justify-between items-center hover:text-black bg-lime-200 hover:bg-lime-300 rounded w-full text-center cursor-pointer"
              >
                Détails
                <i class="text-sm fa-solid fa-arrow-right mr-2"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}
