{% load app_tags %} {% if not receivables %}
<div class="flex flex-col items-center gap-2 my-20 mx-auto">
  <i class="fa-solid fa-wallet text-green-700 text-9xl"></i>
  <span>Aucune créance trouvée</span>
</div>
{% else %}
<table class="w-full text-left db-table rounded">
  <thead class="bg-green-700 border border-green-900 text-white">
    <tr>
      <th class="px-3 py-4 text-sm">Réf.</th>
      <th class="px-3 py-4 text-sm">Date</th>
      <th class="px-3 py-4 text-sm">Heure</th>
      <th class="px-3 py-4 text-sm">Initiateur</th>
      <th class="px-3 py-4 text-sm">Client</th>
      <th class="px-3 py-4 text-sm text-center">Libelé</th>
      <th class="px-3 py-4 text-sm text-center">Montant</th>
      <th class="px-3 py-4 text-sm text-center">Actions</th>
    </tr>
  </thead>

  <tbody class="border">
    {% for obj in receivables %}
    <tr
      class="text-gray-600 border text-sm hover:bg-white hover:text-black transition-all duration-50"
    >
      <td class="px-3 py-1">Crc-000-{{obj.id}}</td>
      <td class="px-3 py-1">{{obj.timestamp.date}}</td>
      <td class="px-3 py-1">{{obj.timestamp.time}}</td>
      <td class="px-3 py-1">{{obj.sale.initiator.get_full_name}}</td>
      <td class="px-3 py-1">{{obj.client.name}}</td>
      <td class="px-3 py-1 text-center">{{obj.label}}</td>
      <td class="px-3 py-1 text-center">{{obj.amount}} CFA</td>
      <td class="px-3 py-1 text-center">{{obj.id|get_receivable_payments}} CFA</td>
      {% with total_paid=obj.id|get_receivable_payments %}
      <!--  -->
      {% if total_paid == obj.amount %}
      <td
        class="px-3 py-1 text-center text-black bg-lime-100 border border-lime-300"
      >
        {{obj.amount|subtract:total_paid}} CFA
      </td>
      {% else %}
      <td
        class="px-3 py-1 text-center text-black bg-orange-100 border border-orange-300"
      >
        {{obj.amount|subtract:total_paid}} CFA
      </td>
      {% endif %}
      <!--  -->
      {% endwith %}
      <td class="px-3 py-1 text-center relative">
        <div
          class="w-fit flex gap-3 justify-end items-end text-end text-gray-700 mx-auto"
        >
          <button
            type="button"
            class="hover:bg-white hover:text-green-500 px-3 py-1 rounded-full"
            name="sentry"
            onclick="toggleMenu(this,'rcv_{{obj.id}}')"
          >
            <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
          </button>

          <div
            class="hidden z-30 bg-gray-50 w-40 shadow-md lg:w-[180px] p-2 absolute right-0 top-12 origin-top-left bg-white z-10 rounded flex flex-col items-center gap-2 text-xs lg:text-sm overflow-hidden"
            id="rcv_{{obj.id}}"
          >
            <!--  -->
            <a
              hx-boost="flase"
              href="{% url 'sale_details' obj.sale.id %}"
              class="px-3 py-1 flex items-center hover:text-black hover:bg-green-200 rounded w-full text-center cursor-pointer"
            >
              <i class="text-sm fa-solid fa-expand mr-2"></i>
              Détails
            </a>

            <!-- <button
              hx-target="#basic_dialog"
              hx-get="{% url 'edit_receivable' obj.id %}"
              class="px-4 py-2 flex items-center hover:text-black hover:bg-orange-200 rounded w-full text-center cursor-pointer"
            >
              <i class="text-sm fa-solid fa-pen-to-square mr-2"></i>
              Modifier
            </button> -->

            {% if user.is_superuser %}
            <button
              hx-delete="{% url 'delete_base_object' obj.id 'Receivable' %}"
              hx-confirm="Voulez vous vraiment suprimmer ceci?"
              class="px-3 py-1 flex items-center hover:text-black hover:bg-red-200 rounded w-full text-center cursor-pointer"
            >
              <i class="text-sm fa-solid fa-trash mr-2"></i>
              Supprimer
            </button>
            {% endif %}
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
