{% extends 'main.html' %} {% load static %} {% block content %}
<div class="w-full max-w-7xl mx-auto flex flex-col justify-between gap-4">
  <a
    id="back-button"
    class="w-fit px-3 py-2 text-white bg-green-700 hover:bg-green-900 rounded transition-all duration-300"
    href="#"
    >&larr;</a
  >
  <!--  -->
  <div class="w-full grid md:grid-cols-2 gap-4">
    <div
      class="p-3 w-full bg-green-200 rounded flex flex-col lg:flex-row items-center gap-4"
    >
      <article class="text-gray-700 grid gap-1 w-full">
        <h4 class="text-black text-2xl font-bold">{{curr_obj.name}}</h4>
        <p>
          <i class="fa-solid fa-briefcase text-gray-800 mr-3"></i> Type :
          <span class="text-black"> {{curr_obj.get_type_display}} </span>
        </p>
        <p>
          <i class="fa-solid fa-phone text-gray-800 mr-3"></i> N° de telephone :
          <span class="text-black">{{curr_obj.phone}} </span>
        </p>
        <p>
          <i class="fa-solid fa-envelope-open text-gray-800 mr-3"></i> Email :
          <span class="text-black">{{curr_obj.email}} </span>
        </p>
        <p>
          <i class="fa-solid fa-location-dot text-gray-800 mr-3"></i> Adresse :
          <span class="text-black">{{curr_obj.address}} </span>
        </p>
      </article>
    </div>

    <div class="h-full bg-orange-200 mb-4 p-4 rounded text-base grid gap-4">
      <span>Achats : <b>{{ purchases|length }}</b></span>
      <span>Retours : <b>{{ returned|length }}</b></span>
      <span>Dons : <b>{{ gifts|length }}</b></span>
    </div>
  </div>
</div>

{% endblock %}
