<div class="py-1 flex justify-between items-center">
  Total à payer
  <span class="text-black font-bold mr-2">{{cart_total}} CFA</span>
</div>
<p class="py-1 flex justify-between items-center border-y border-lime-400">
  Total Réglé
  <input
    id="paid"
    class="text-right text-green-700 rounded py-1 px-2 focus:outline-none focus:ring-1 focus:ring-green-700"
    type="text"
    placeholder="0 CFA"
  />
</p>
<p class="py-1 flex justify-between items-center">
  Reliquat
  <span id="balance" class="text-black font-bold mr-2">0 CFA</span>
</p>
