<div
  class="h-full lg:h-[calc(100vh-100px)] border border-lime-300 p-3 bg-lime-100 text-xs xl:text-md h-100 rounded flex flex-col gap-3"
>
  <!-- totals display -->
  {% include 'base/cart/cart_items.html' %}
  <!-- totals display -->
  {% include 'base/cart/cart_totals.html' %}

  <div class="bg-green-600 p-2 rounded flex flex-col gap-2 text-xs text-black">
    <div class="grid grid-cols-3 gap-2">
      <button
        value="7"
        class="number-btn bg-green-100 hover:bg-white p-1 xl:p-2 w-full text-center rounded"
      >
        7
      </button>
      <button
        value="8"
        class="number-btn bg-green-100 hover:bg-white p-1 xl:p-2 w-full text-center rounded"
      >
        8
      </button>
      <button
        value="9"
        class="number-btn bg-green-100 hover:bg-white p-1 xl:p-2 w-full text-center rounded"
      >
        9
      </button>
      <button
        value="4"
        class="number-btn bg-green-100 hover:bg-white p-1 xl:p-2 w-full text-center rounded"
      >
        4
      </button>
      <button
        value="5"
        class="number-btn bg-green-100 hover:bg-white p-1 xl:p-2 w-full text-center rounded"
      >
        5
      </button>
      <button
        value="6"
        class="number-btn bg-green-100 hover:bg-white p-1 xl:p-2 w-full text-center rounded"
      >
        6
      </button>
      <button
        value="1"
        class="number-btn bg-green-100 hover:bg-white p-1 xl:p-2 w-full text-center rounded"
      >
        1
      </button>
      <button
        value="2"
        class="number-btn bg-green-100 hover:bg-white p-1 xl:p-2 w-full text-center rounded"
      >
        2
      </button>
      <button
        value="3"
        class="number-btn bg-green-100 hover:bg-white p-1 xl:p-2 w-full text-center rounded"
      >
        3
      </button>
    </div>
    <div class="grid grid-cols-2 gap-2">
      <button
        value="0"
        class="number-btn bg-green-100 hover:bg-white p-1 xl:p-2 w-full text-center rounded"
      >
        0
      </button>
      <button
        id="clear_btn"
        class="bg-green-700 p-2 w-full text-white text-center rounded hover:bg-green-900"
      >
        <i class="fa-solid fa-delete-left"></i>
      </button>
    </div>

    {% if cart_items %}
    <div class="w-full flex gap-2 p-3 bg-green-700 rounded">
      <button
        id="cancel_btn"
        class="bg-gray-200 p-2 w-1/2 text-center rounded border-2 hover:border-red-700 hover:bg-red-100 hover:text-red-600"
      >
        Annuler
      </button>
      <a
        id="submit_form"
        href="#"
        class="bg-lime-200 p-2 w-full text-center rounded hover:bg-lime-400"
        >Valider</a
      >
    </div>
    {% endif %}
  </div>
</div>

<script>
  function initializePaymentScript() {
    const total_paid = document.getElementById("total_paid");
    const total_due = document.getElementById("total_due");
    const cart_total = document.getElementById("cart_total");
    const sale_payment = document.getElementById("sale_payment");

    if (total_paid && total_due && cart_total) {
      const total = parseInt(cart_total.textContent);

      total_due.textContent = `- ${total} XOF`;

      const keypadButtons = document.querySelectorAll(".number-btn");
      keypadButtons.forEach((button) => {
        button.addEventListener("click", () => {
          total_paid.value += button.value;
          updateTotalDue();
        });
      });

      function updateTotalDue() {
        const total_paidValue = parseInt(total_paid.value) || 0;
        const amount_due = total_paidValue - total;
        total_due.textContent = `${amount_due} XOF`;
      }

      total_paid.addEventListener("input", updateTotalDue);

      const deleteButton = document.getElementById("clear_btn");
      if (deleteButton) {
        deleteButton.addEventListener("click", () => {
          total_paid.value = total_paid.value.slice(0, -1);
          updateTotalDue();
        });
      }

      const submitButton = document.getElementById("submit_form");
      if (submitButton) {
        submitButton.addEventListener("click", () => {
          if (sale_payment) {
            sale_payment.value = total_paid.value;
          }
          document.getElementById("sale_parameters_form").submit();
        });
      }
    }
  }

  // sale form submission
  document
    .getElementById("submit_form")
    .addEventListener("click", function (event) {
      event.preventDefault();
      document.getElementById("sale_parameter_form").submit();
    });

  // Initialize script on page load and when new content is loaded via HTMX
  document.addEventListener("DOMContentLoaded", initializePaymentScript);

  htmx.onLoad(function (content) {
    initializePaymentScript();
  });
</script>
