{% load static %} {% load app_tags %}
<div class="w-full flex flex-col gap-6">
  <div class="grid lg:grid-cols-2 gap-4">
    <div
      id="receipt"
      class="w-full bg-gray-100 border rounded shadow-md p-3 flex flex-col justify-between text-sm gap-2"
    >
      <div class="flex justify-between text-xl text-black">
        <div class="flex items-center gap-2">
          <img width="40" height="40" src="{% static 'imgs/logo.png' %}" alt="logo" />
          <div class="grid">
            <span>{{curr_obj.store.name}}</span>
            <span class="text-xs">Tel : {{curr_obj.store.phone}}</span>
            <span class="text-xs">Adrs : {{curr_obj.store.address}}</span>
          </div>
        </div>
        <div class="grid">
          <h3 class="text-lg text-black">
            Reçu <b> N°- 000{{curr_obj.id}}</b>
          </h3>
          <span class="text-xs">Date : {{ curr_obj.timestamp.date }}</span>
          <span class="text-xs">Heure : {{ curr_obj.timestamp.time }}</span>
        </div>
      </div>
      <div class="grid gap-0">
        <article class="p-1 border-y bg-gray-300 text-sm flex justify-between">
          <span>Article</span>
          <b>Quantité</b>
          <span>Prix unitaire </span>
          <span>Total</span>
        </article>
        {% for obj in sale_items %}
        <article
          class="p-1 border-y border-gray-400 text-sm flex justify-between"
        >
          <span>{{obj.product_stock.product.name}}</span>
          <b>x {{obj.quantity}}</b>
          <span
            >{{obj.product_stock.price}} CFA /
            <!--  -->
            {{obj.product_stock.product.unit}}
          </span>
          <span>{{obj.get_total}} CFA</span>
        </article>
        {% endfor %}
      </div>

      <p class="flex justify-between gap-2">
        <span>Article(s) : </span> <b>{{ curr_obj.items }}</b>
      </p>
      <p class="flex justify-between gap-2">
        <span>Montant dû :</span> <b>{{ curr_obj.total }} CFA</b>
      </p>
      <p class="text-black flex justify-between gap-2">
        <span>Montant payé : </span> <b>{{ curr_obj.total_paid }} CFA</b>
      </p>
      {% if curr_obj.total > curr_obj.total_paid %}
      <p class="p-2 bg-orange-200 text-black flex justify-between gap-2">
        <span>Montant restant : </span>
        <b>{{curr_obj.total|subtract:curr_obj.total_paid}} CFA</b>
      </p>
      {% else %}
      <p class="p-2 bg-lime-200 text-black flex justify-between gap-2">
        <span>Montant restant : </span>
        <b>{{curr_obj.total|subtract:curr_obj.total_paid}} CFA</b>
      </p>
      {% endif %}
    </div>

    <div class="w-full border rounded p-3 grid gap-2">
      <h2 class="text-4xl text-black">
        Client : <b>{{ curr_obj.client.name }}</b>
      </h2>
      <p>Remise : <b>{{ curr_obj.discount }} CFA</b></p>
      <p>
        Reste à payer :
        <b>{{ curr_obj.total|subtract:curr_obj.total_paid }} CFA</b>
      </p>
      <p>Caisse : <b>{{ curr_obj.cashdesk.name }}</b></p>
      <p>Date : <b>{{ curr_obj.timestamp.date }}</b></p>
      <p><b>Observation : </b> {{curr_obj.observation }}</p>
    </div>
  </div>

  <div class="w-full grid gap-2">
    <div class="flex justify-between items-center gap-4">
      <h3 class="text-black font-bold">Liste des paiements</h3>
      {% if not payment_complete %}
      <button
        hx-target="#basic_dialog"
        hx-get="{% url 'create_sale_payment' curr_obj.id %}"
        class="px-4 py-2 flex items-center text-black bg-lime-200 hover:bg-lime-300 rounded w-fit text-center cursor-pointer"
      >
        Nouveau
        <i class="text-sm fa-solid fa-plus ml-2"></i>
      </button>
      {% endif %}
    </div>

    {% if not payments %}
    <div class="flex flex-col items-center gap-2 my-10 mx-auto">
      <i class="fa-solid fa-hand-holding-dollar text-gray-600 text-xl"></i>
      <span>Aucun payment trouvé</span>
    </div>
    {% else %}
    <table id="items_table" class="bg-white h-fit w-full text-left db-table">
      <thead class="bg-lime-300 border border-lime-400 text-black">
        <tr>
          <th class="px-3 py-2 text-sm">Date</th>
          <th class="px-3 py-2 text-sm">Initiateur</th>
          <!-- <th class="px-3 py-2 text-sm">Montant dû</th> -->
          <th class="px-3 py-2 text-sm">Montant payé</th>
          <!-- <th class="px-3 py-2 text-sm">Reste à payer</th> -->
          <th class="px-3 py-2 text-sm text-center">Action</th>
        </tr>
      </thead>

      <tbody class="border">
        {% for obj in payments %}
        <tr
          class="text-gray-600 text-sm hover:bg-white hover:text-black transition-all duration-300"
        >
          <td class="px-3 py-1">{{ obj.timestamp.date }}</td>
          <td class="px-3 py-1">{{obj.initiator.get_full_name}}</td>
          <!-- <td class="px-3 py-1">{{ curr_obj.total }} CFA</td> -->
          <td class="px-3 py-1">{{ obj.amount }} CFA</td>
          <!-- <td class="px-3 py-1">
            {{ curr_obj.total|subtract:obj.amount }} CFA
          </td> -->
          <td class="px-3 py-1 text-center relative">
            <div
              class="w-fit flex gap-3 justify-end items-end text-end text-gray-700 mx-auto"
            >
              <button
                type="button"
                class="hover:bg-white hover:text-green-500 px-3 py-1 rounded-full"
                name="sentry"
                onclick="toggleMenu(this,'pmt_{{obj.id}}')"
              >
                <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
              </button>

              <div
                class="hidden z-30 bg-gray-50 w-40 shadow-md lg:w-[180px] p-2 absolute right-0 top-12 origin-top-left bg-white z-10 rounded flex flex-col items-center gap-2 text-sm lg:text-sm overflow-hidden"
                id="pmt_{{obj.id}}"
              >
                <!--  -->
                <button
                  onclick="hide_dialogs()"
                  hx-target="#basic_dialog"
                  hx-get="{% url 'edit_payment' obj.id %}"
                  class="px-3 py-2 flex items-center hover:text-black hover:bg-green-200 rounded w-full text-center cursor-pointer"
                >
                  <i class="text-sm fa-solid fa-pen mr-2"></i>
                  Modifier
                </button>

                <button
                  hx-delete="{% url 'delete_base_object' obj.id 'Payement' %}"
                  hx-confirm="Voulez vous vraiment suprimmer ceci?"
                  class="px-3 py-2 flex items-center hover:text-black hover:bg-red-200 rounded w-full text-center cursor-pointer"
                >
                  <i class="text-sm fa-solid fa-trash mr-2"></i>
                  Supprimer
                </button>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
