{% load static %}

<div class="mx-auto w-full rounded-md">
  <form
    class="w-full flex flex-col gap-2 text-sm"
    hx-post="{{ request.path }}"
    action=""
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <h2
      class="px-4 py-2 bg-green-700 rounded-lg mb-4 text-center text-sm text-white"
    >
      {{ form_title }}
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
      {% for field in form %}
      <div>
        <h3 class="mb-1">{{field.label}}</h3>
        {{field}}
      </div>
      {% endfor %}
    </div>

    <div class="flex flex-row-reverse gap-2 items-end text-xs">
      <button
        class="px-4 py-2 bg-green-700 text-white hover:bg-green-900 rounded-md"
        type="submit"
      >
        {% if not curr_obj %} Ajouter {% else %} Enregistrer {% endif %}
      </button>
      <button
        onclick="close_modal()"
        type="button"
        class="modal_closer px-4 py-2 bg-gray-100 text-black hover:bg-red-300 rounded-md"
      >
        Annuler
      </button>
    </div>
  </form>
</div>

{% if not curr_obj %}
<script>
  $(document).ready(function () {
    // Add a placeholder option to the select element
    $(".input_selector").children().first().remove();
    $(".input_selector").prepend(
      '<option value="" disabled selected></option>'
    );
  });
</script>
{% endif %}
