{% extends 'main.html' %} {% load static %} {% block content %}
<div class="w-full max-w-7xl mx-auto flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-2">
      <a
        id="back-button"
        class="inline-block px-3 py-2 text-white bg-cyan-700 hover:bg-cyan-900 rounded-lg transition-all duration-300"
        href="#"
        >&larr;</a
      >
      <h3 class="bg-cyan-700 rounded-lg text-white py-2 px-4">
        Clients
        <i class="fa-solid fa-users ml-2"></i>
      </h3>
    </div>

    <form
      id="filter"
      hx-post="{% url 'filter_products' %}"
      hx-target=".products_list"
      class="p-1 w-fit border-2 border-cyan-700 rounded-xl flex justify-between items-center gap-1 text-sm xl:text-sm"
    >
      {% csrf_token %}
      <!-- name field -->
      <input
        hx-post="{% url 'filter_products' %}"
        hx-target=".products_list"
        hx-trigger="keyup changed delay:500ms"
        placeholder="Article"
        name="full_name"
        type="text"
        class="px-3 py-2 rounded-md bg-gray-100 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-lime-400 w-full cursor-pointer"
      />
      <select
        name="sex"
        class="hidden sm:flex px-3 py-2 rounded-md bg-gray-100 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-lime-400 w-full cursor-pointer"
      >
        <option value="" selected="true" disabled="disabled">Sexe</option>
        <option value="feminin">Masculin</option>
        <option value="masculin">Féminin</option>
        <option value="neutral">Neutre</option>
      </select>

      <button
        class="px-3 py-2 bg-cyan-700 hover:bg-cyan-900 text-white rounded-lg transition duration-200 ease-in"
        type="submit"
      >
        <i class="fa-solid fa-filter"></i>
      </button>
      <button
        class="px-3 py-2 bg-lime-200 hover:bg-lime-400 hover:text-black rounded-lg transition duration-200 ease-in"
        hx-on:click="clearForm('filter')"
        type="submit"
      >
        <i class="fa-solid fa-rotate-right"></i>
      </button>
    </form>

    <a
      href="{% url 'add_product' %}"
      class="bg-lime-200 hover:bg-lime-300 rounded-lg py-2 px-4 text-xs text-black flex items-center gap-4 group"
    >
      Ajouter un client
      <i class="fa-solid fa-plus ml-2"></i>
    </a>
  </div>

  <div
    class="clients_list"
    hx-get="{% url 'clients_list' %}"
    hx-trigger="load, db_changed from:body"
    hx-target="this"
  ></div>
</div>

<script>
  function clearForm(div_id) {
    var form = document.getElementById(div_id);
    form.reset();
  }

  document
    .getElementById("back-button")
    .addEventListener("click", function (event) {
      event.preventDefault(); // Prevent the default anchor behavior
      window.history.go(-1); // Go back two pages
    });
</script>
{% endblock %}
