{% extends 'main.html' %} {% load static %} {% block content %}
  
  <div class="w-full grid md:grid-cols-2 gap-4">
    <div
      class="p-3 w-full bg-teal-200 rounded-2xl flex flex-col lg:flex-row items-center gap-4"
    >
      {% if not curr_obj.image %}
      <img
        class="h-40 w-40 bg-white rounded-full object-cover"
        src="{% static 'imgs/anon.png' %}"
        alt="image"
      />
      {% else %}
      <img
        class="h-40 w-40 bg-white rounded-full object-cover"
        src="{{curr_obj.image.url}}"
        alt="image"
      />
      {% endif %}
      <article class="text-gray-700 grid gap-1 w-full">
        <h4 class="text-black text-2xl font-bold">
          {{curr_obj.last_name}} {{curr_obj.first_name}}
        </h4>
        <span class="text-teal-700">@{{curr_obj.username}}</span>

        <p>
          <i class="fa-solid fa-venus-mars text-gray-800 mr-3"></i> Sexe :
          <span class="text-black"> {{curr_obj.get_sex_display|title}} </span>
        </p>
        <p>
          <i class="fa-solid fa-phone text-gray-800 mr-3"></i> N° de telephone :
          <span class="text-black"> {{curr_obj.phone}} </span>
        </p>
  
        <div class="w-full bg-teal-900 text-white p-4 rounded-xl flex flex-col gap-2">
          <p>
            <i class="fa-solid fa-map-location-dot text-teal-200 text-gray-800 mr-3"></i>Quartier de
            livraison :
            <span class="font-bold"> {{shipping_info.district}} </span>
          </p>
          <p>
            <i class="fa-solid fa-location-dot text-teal-200 text-gray-800 mr-3"></i>Address
            de livraison :
            <span class="font-bold"> {{shipping_info.address}} </span>
          </p>
          <p>
            <i class="fa-solid fa-phone text-teal-200 text-gray-800 mr-3"></i>Numero de
            livraison :
            <span class="font-bold"> {{shipping_info.phone}} </span>
          </p>
        </div>
      </article>
    </div>
    <img
      class="h-full w-full bg-white rounded-2xl object-cover"
      src="{% static 'imgs/banner_2.webp' %}"
      alt="image"
    />
  </div>

  {% endblock %}
