{% extends 'main.html' %} {% load static %} {% block content %}
<div class="w-full max-w-7xl mx-auto flex flex-col justify-between gap-4">
  <a
    id="back-button"
    class="w-fit px-3 py-2 text-white bg-green-700 hover:bg-green-900 rounded-lg transition-all duration-300"
    href="#"
    >&larr;</a
  >
  <!--  -->
  <div class="w-full grid md:grid-cols-2 gap-4">
    <div
      class="p-3 w-full bg-green-200 rounded-2xl flex flex-col lg:flex-row items-center gap-4"
    >
      {% if not curr_obj.image %}
      <img
        class="h-40 w-40 bg-white rounded-full object-cover"
        src="{% static 'imgs/anon.png' %}"
        alt="image"
      />
      {% else %}
      <img
        class="h-40 w-40 bg-white rounded-full object-cover"
        src="{{curr_obj.image.url}}"
        alt="image"
      />
      {% endif %}
      <article class="text-gray-700 grid gap-1 w-full">
        <h4 class="text-black text-2xl font-bold">{{curr_obj.name}}</h4>
        <p>
          <i class="fa-solid fa-briefcase text-gray-800 mr-3"></i> Secteur :
          <span class="text-black"> {{curr_obj.domain}} </span>
        </p>
        <p>
          <i class="fa-solid fa-phone text-gray-800 mr-3"></i> N° de telephone :
          <span class="text-black">{{curr_obj.phone}} </span>
        </p>
        <p>
          <i class="fa-solid fa-envelope-open text-gray-800 mr-3"></i> Email :
          <span class="text-black">{{curr_obj.email}} </span>
        </p>
        <p>
          <i class="fa-solid fa-location-dot text-gray-800 mr-3"></i> Adresse :
          <span class="text-black">{{curr_obj.address}} </span>
        </p>
      </article>
    </div>

    <div class="h-full bg-orange-200 mb-4 p-4 rounded-2xl text-base grid gap-4">
      <span>En stock : <b>{{ available_products|length }}</b></span>
      <span>En rupture : <b>{{ returned|length }}</b></span>
      <span>Vendus : <b>{{ sold|length }}</b></span>
      <span>Retournés : <b>{{ returned|length }}</b></span>
    </div>
  </div>

  <section class="flex flex-col gap-4">
    <div class="flex items-center justify-between">
      <h3 class="font-bold text-lg">Liste des produits</h3>
      <form
        id="filter"
        hx-post="{% url 'filter_transactions' %}"
        hx-target=".transactions_list"
        class="p-1 w-full max-w-3xl flex justify-between items-center gap-1 text-sm"
      >
        {% csrf_token %}
        <section class="w-full flex justify-between items-center gap-1 text-xs">
          <!-- transaction amount margin -->
          <input
            hx-post="{% url 'filter_transactions' %}"
            hx-target=".transactions_list"
            hx-trigger="keyup changed delay:500ms"
            placeholder="Prix min"
            name="min_amount"
            type="number"
            class="px-3 py-2 rounded-md border focus:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-lime-400 w-full cursor-pointer"
          />
          <input
            hx-post="{% url 'filter_transactions' %}"
            hx-target=".transactions_list"
            hx-trigger="keyup changed delay:500ms"
            placeholder="Prix max"
            name="max_amount"
            type="number"
            class="px-3 py-2 rounded-md border focus:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-lime-400 w-full cursor-pointer"
          />
          <select
            name="is_promoted"
            class="hidden sm:flex px-3 py-2 rounded-md border focus:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-lime-400 w-full cursor-pointer"
          >
            <option value="" selected="true" disabled="disabled">
              En promotion
            </option>
            <option value="debit">Oui</option>
            <option value="credit">Non</option>
          </select>
        </section>

        <button
          class="px-3 py-2 bg-green-700 hover:bg-green-900 text-white rounded-lg transition duration-200 ease-in"
          type="submit"
        >
          <i class="fa-solid fa-filter"></i>
        </button>
        <button
          class="px-3 py-2 bg-lime-200 hover:bg-lime-400 hover:text-black rounded-lg transition duration-200 ease-in"
          hx-on:click="clearForm('filter')"
          type="submit"
        >
          <i class="fa-solid fa-rotate-right"></i>
        </button>
      </form>
    </div>

    {% if not available_products %}
    <div class="flex flex-col items-center gap-2 my-20 mx-auto">
      <i class="fa-solid fa-box-open text-green-900 text-9xl"></i>
      <span>Aucun produit trouvé</span>
    </div>
    {% else %}
    <div
      class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
    >
      {% for obj in available_products %}
      <!--  -->
      {% include 'base/components/prod_stock_grid_card.html' %}
      <!--  -->
      {% endfor %}
    </div>
    {% include 'paginator.html' %}
    <!--  -->
    {% endif %}
  </section>
</div>

<script>
  //  tabs control ----------------------------------------------------------------------------------------------------
  document.getElementById("defaultTab").click();
  function openTab(event, tabName) {
    var i, tabcontent, tabBtn;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tabBtn = document.getElementsByClassName("tabBtn");
    for (i = 0; i < tabBtn.length; i++) {
      tabBtn[i].className = tabBtn[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    event.currentTarget.className += " active";
    var minitabs = document.getElementsByClassName("minitabcontent");
    if (minitabs.length != 0) {
      minitabs = tabcontent.children;
    }
  }
</script>
{% endblock %}
