{% load static %}

<div
  class="p-2 w-full bg-white hover:bg-gray-100 text-xs lg:text-sm flex justify-between items-center rounded-lg border hover:shadow-lg transition duration-200 ease-in"
>
  <h3 class="font-bold text-black">Client N°{{obj.id}}</h3>
  <p>
    <i class="fa-solid fa-user mr-2"></i>
    {{obj.lastname|title}} {{obj.firstname|title}}
  </p>
  <p>
    <i class="fa-solid fa-email mr-2"></i>
    {{obj.email}}
  </p>
  <p>
    <i class="fa-solid fa-clock mr-2"></i>
    {{obj.orders_set_all|length}}
  </p>
  <small class="bg-red-200 text-black px-2 py-1 rounded-full">
    {{obj.is_active}}
  </small>
  <button
    onclick="toggle_sentry()"
    class="text-gray-400 hover:text-teal-900 p-2 transition duration-200 ease-in"
  >
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </button>
</div>
